{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{  asset('css/cartCustom.css') }}" /> 
		
{% endblock %}

{% block body %}

    <div>
    	 {% if cartInfo['items'] is defined and cartInfo['items']|length > 0 %}
    	 	<div class="cartItemsListContainer">	
    	 		{% for item in cartInfo['items'] %}
		    	 	
		    	 	<div class="cartItemContainer">	        	
			        	<div class="productName" style="position:relative">{{item.productName}} <span class="removeCartItem">Remove</span></div>
			        	
			        	<div class="cartItemExpense">
				        	<input type="number" class="quantityInp" min="1" value="{{item.quantity}}" preValue="{{item.quantity}}" />
				        	* <span class="unitPrice"> {{item.unitPrice}}</span> $
				        	= <span class="subTotal"> {{item.subTotal}}</span> $
			        	</div>
			        </div>
			         
			    {% endfor %} 
			</div>
			
			<div class="cartTotalDiv">    
			    <h2>Total : <span class="total">{{cartInfo['total']}}</span> $</h2>
			    <input type="button" id="btnBuyCart" value="BUY" />
			    <input type="checkbox" id="chkPreorder" style="margin-left: 16%;" />Preorder

			    <div class="preorderForm">
			    	<div class="formRow">
			    		<span class="formLabel">Name</span>
			    		<input type="text" class="formInput" id="preorderFormName" value="testUser" disabled />			    		
			    	</div>	

			    	<div class="formRow">
			    		<span class="formLabel">Surname</span>
			    		<input type="text" class="formInput" id="preorderFormSurname" value="testUser" disabled />		    		
			    	</div>

			    	<div class="formRow">
			    		<span class="formLabel">Email</span>
			    		<input type="text" class="formInput" id="preorderFormMail" value="testuser@email.com" disabled />		    		
			    	</div>

			    	<div class="formRow">
			    		<span class="formPhone">Phone</span>
			    		<input type="text" class="formInput" id="preorderFormPhone" placeholder="Ten digit without blanks"/>			    		
			    	</div>
			    </div>
			</div>
			    	
			{% else %}

	    		There is no items in your cart.

		{% endif %}  
	    
    </div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/cartHtml.js') }}"></script>
{% endblock %}