.divMainContainer{
        		padding:0 10%; 
        	}

        	.divProductsContainer{
        		width: 70%;
			    float: left;
        	}

        	.divCartContainer{
        		width: 25%;
			    float: left;
			    margin-left:2%;
        	}

			.menuLinks a {
			    font-family: cursive;
			    font-size: 19px;
			    font-weight: bolder;
			    text-decoration: none;
			    margin: 0 20px;
			    color: #007f80;
			}

        	.activeMenuLink{
        		color: #ff8f00 !important;
  				font-size: 25px !important;
        	}

        	.cartItemCountMain{
        		position: absolute;
			    top: 0;
			    right: -42px;
			    background-color: red;
			    color: white;
			    font-size: 15px;
			    width: 30px;
			    height: 25px;
			    text-align: center;
			    border-radius: 11px;
			    display:none;
        	}