.cartItemsListContainer {
		    float: left;
		    width: 50%;
		}	

		.cartItemContainer {
			margin-bottom: 20px;
		    background-color: #efefef;
		    padding: 10px;
		    border-radius: 10px;
		}    

		.productName {
		    margin-bottom: 15px;
		}

		.cartItemExpense {
		    text-align: right;
		}

		input.quantityInp {
		    width: 55px;
		    text-align: center;
		}

		.cartTotalDiv {
		    float: left;
		    margin-left: 10%;
		    width: 30%;
		}

		.removeCartItem{
			position: absolute;
		    top: 0;
		    right: 0px;
		    color: red;
		    cursor: pointer;
		}

		.preorderForm {
		    margin-top: 30px;
		    background-color: #f3fff3;
		    padding: 15px;
		    border-radius: 10px;
		    width: 80%;
		    display:none;
		}

		.formRow{
			padding: 9px 0;
		}

		.formInput {
		    float: right;
		}