.orderRecordContainer {
	        width: 50%;
		    border: 1px solid grey;
		    padding: 10px;
		    box-shadow: 0 0 25px grey;
		    border-radius: 10px;
		    margin-bottom: 25px;
		    float:left;
		}	

		.orderInfo {
		    font-weight: bolder;
		    position:relative;
		    font-size: 20px;
		}

		span.createdBy {
		    position: absolute;
		    top: 0;
		    right: 0;
		}

		.orderProducts {
		    margin-top: 15px;
		    text-align: right;
		}

		span.productName {
		    margin-right: 30px;
		}

		.cartItem {
		    margin-bottom: 12px;
		}

		.total {
		    text-align: right;
		    font-size: 21px;
		    font-weight: bolder;
		}

		.divPreorderUser{
			float: left;
		    margin: 0 20px;
		    border: 1px solid grey;
		    padding: 10px;
		    box-shadow: 0 0 25px grey;
		    border-radius: 10px;
		    font-weight: bold;
		}

		.rejected {
		    background-color: #ffdbdb !important;
		}

		.approved {
		    background-color: #ecffec !important;
		}