.hiddenInfo { display:none; }

    .productContainer {
    	    float: left;
		    margin: 0 2%;
		    padding: 1%;
		    border: 2px solid grey;
		    border-radius: 10px;
		    box-shadow: 0 5px 31px #c1b9b9;
		    width:20%;
    }

    .productName {
		text-align: center;
	    font-family: sans-serif;
	    font-weight: bold;
	    font-size: 25px;
	    color: #4a4a4a;
    }

    .productPrice {
	    margin-top: 20px;
	    font-size: 30px;
	    text-align: right;
	}

	span.smallProductTag {
	    font-size: 20px;
	    font-family: sans-serif;
	    color: #b1b1b1;
	}

	.productStockCount {
	    margin-top: 20px;
	    font-size: 30px;
	    text-align: right;
	}

	.inputsToAddBasket {
	    margin-top: 25px;
	    text-align: right;
	}

	.quantityInp{
		width:70px;
	}