
{% extends 'base.html.twig' %}

{% block stylesheets %}

	<link rel="stylesheet" type="text/css" href="{{ asset('css/loginCustom.css') }}" /> 
	
{% endblock %}

{% block body %}

	<div style="position: absolute;	    top: 25%;    left: 45%;    padding: 40px;    background-color: #0080002e;    border-radius: 10px;">
		<input type="button" value = "Login as admin"  class="btnLoginType" userType="admin" /><br><br>
		<input type="button" value = "Login as user" class="btnLoginType" userType="user" />
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/loginHtml.js') }}"></script>
{% endblock %}