{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{  asset('css/productCustom.css') }}" /> 

{% endblock %}


{% block body %}

    <div>
    	 {% for item in products %}
    	 	<div class="productContainer">
	        	<div class="hiddenInfo productId">{{item.id}}</div>
	        	<div class="productName">{{item.Name}}</div>
	        	<div class="productPrice"><span class="smallProductTag">price : </span>{{item.Price}} $</div>
	        	<div class="productStockCount"><span class="smallProductTag">stock : </span><span>{{item.StockCount}}</span></div>
	        	<div class="inputsToAddBasket">
		        	<input type="number" class="quantityInp" min="1" max="{{item.StockCount}}" value="1"/>
		        	<input type="button" class="btnAddToCart" value="Add To Cart" />
	        	</div>
	        </div>
	    {% endfor %} 
    </div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/productHtml.js') }}"></script>
{% endblock %}
