<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome To MyStore!</title>

        <link rel="stylesheet" type="text/css" href="{{  asset('css/baseCustom.css') }}" />

        {% block stylesheets %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
        
        <div class="divMainContainer">
        	{% if app.session.has('userType') and app.session.get('userType') != '' %}
	        	<div class="menuLinks">
	        		{% if app.session.get('userType') == 'user'%}
	        			<a href="{{ path('showProducts') }}" class="activeMenuLink">Products</a> |
	        		{% endif %}
	        		
	        		<a href="{{ path('showOrders') }}" id="ordersMenuLink">{% if app.session.get('userType') == 'user'%}My{% endif %} Orders</a> {% if app.session.get('userType') == 'user'%} |{% endif %}
	        		
	        		{% if app.session.get('userType') == 'user' %}
	        			<a href="{{ path('cart') }}" style="position:relative">Go To Cart <div class="cartItemCountMain"></div></a>
	        		{% endif %}

	        		<a href="/" style="color: maroon;    float: right;"> Log Out</a>
				</div>
			{% endif %}

        	<div class="divProductsContainer">
        		<h1>{% block pageHeaderTitle %}{% endblock %}</h1>
        	    <br><br>
        	    {% block body %}{% endblock %}
        	</div>
        	<!-- <div class="divCartContainer">
        		<h1>Your Cart</h1>
        	    <br><br>
        	    {% block cartItems %}{% endblock %}	
        	    <input type="button" value="Confirm" id="btnConfirmCart"/>
        	</div> -->
        </div>

		<script src="{{ asset('js/baseHtml.js') }}"></script>
        
        {% block javascripts %}        	
        {% endblock %}
    </body>
</html>
