{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{  asset('css/orderCustom.css') }}" /> 
	
{% endblock %}


{% block body %}

    <div>
    	 {% if orders|length > 0 %}
    	 		
	 		{% for orderId,order in orders %}
	    	 	<div class="recordContainer">
		    	 	<div class="orderRecordContainer {% if order.orderInfo.is_pre_order == 1 %}{%if order.orderInfo.is_approved == 1 %} approved {% elseif order.orderInfo.is_approved == 2 %} rejected {% endif %}{% endif %}">	        	
			        	<div class="orderInfo">
			        		<span class="orderId" style="display:none">{{orderId}}</span>
			        		<span class="orderDate">{{order.orderInfo.formattedDate}}</span>
			        		<span class="createdBy">{{order.orderInfo.userName}}</span>
			        	</div>
			        	<div class="orderProducts">	
			        		
			        		{% for cartItem in order['cartItems'] %}
			        		
			        			<div class="cartItem">
			        				<span class="productName">{{cartItem['productName']}}</span>
			        				<span class="quantity">{{cartItem['quantity']}}</span>*
			        				<span class="unitPrice">{{cartItem['unitPrice']}}$</span> = 
			        				<span class="subTotal">{{cartItem['subTotal']}}$</span> 
			        			</div>
			        		
			        		{% endfor %}

			        	</div>
			        	<div class="total">{{order.total}}$</div>
			        	
			        	{% if order.orderInfo.is_pre_order == 1 %}
			        		<div class="divPreorderStatus">Preorder {%if order.orderInfo.is_approved == 1 %} approved {% elseif order.orderInfo.is_approved == 2 %} rejected {% else %} waiting {% endif %}</div>
			        	{% endif %}			        	
			        </div>
			        {% if order.orderInfo.is_pre_order == 1 %}
				        <div class="divPreorderUser {% if order.orderInfo.is_approved == 1 %} approved {% elseif order.orderInfo.is_approved == 2 %} rejected {% endif %}">
				  			<span class="preorderName">Name : {{order.preorder.name ~ ' ' ~ order.preorder.surname}}</span><br><br>
				        	<span class="preorderEmail">Email : {{order.preorder.email}}</span><br><br>
				        	<span class="preorderPhone">Phone : {{order.preorder.phoneNumber}}</span>			        	
				        </div>

				        {% if app.session.has('userType') and app.session.get('userType') == 'admin' and order.orderInfo.is_approved == 0 %}	
					        <div style="float:left; margin-left: 5px">
					        	<input type="button" value="Approve" id="btnApprovePreorder" style="color:green"/><br><br>
					        	<input type="button" value="Reject" id="btnRejectPreorder" style="color:red"/>
					        </div>
				        {% endif %}				        
			        {% endif %}
		        </div>
		    {% endfor %} 
		    	
		{% else %}

    		There is no orders.

		{% endif %}  
	    
    </div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/orderHtml.js') }}"></script>
{% endblock %}